/* main color #212121 */
/* secondary color #757575 */
/* accent color #2196F3 */
/* main white color #FFFFFF */
/* secondary white color rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: rgb(33, 150, 243);
    --primary-white-color: #FFFFFF;
    --button-color: #F5F4FA;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --logo-text-color: #000000;
    --team-bg-color: #f5f4fa;
    --secondary-border-color: #eeeeee;
    --order-background: #C4C4C4;
    --border-color: #ECECEC;
    --icon-fill: rgba(175, 177, 184, 1);
    --backdrop-background: rgba(0, 0, 0, 0.2);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    /* width: 1200px; */
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

header {
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
}

.main-nav {
    display: flex;
    align-items: center;
    /* height: 80px; */
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    /* color: #2196F3; */
}

.logo::after {
    content: "Studio";
    color: var(--logo-text-color);
}

/* any list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    padding-top: 32px ;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}





/* header contacts */
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts a {
    display: flex;
}

/* justify-content: center;
    align-items: center; */
/* font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
 */

.contacts .contact-item+.contact-item {
    margin-left: 50px;
}

.contact-nav {
    margin-right: 10px;
}

.contact-link {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

/* .contacts list {
    display: flex;
    margin-right: 10px;
} */

.filters-nav .link {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-nav .link:hover,
.filters-nav .link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}

/* Эффективные решения для вашего бизнеса */
.order {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
     /* linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), */
        url(../images/order-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.order-title {
    text-align: center;
    margin: 0 auto;
    /* padding-bottom: 30px;
    /* margin-top: 0; */
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: var(--footer-color);
    color: var(--primary-white-color);
    width: 696px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-background);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 15px;
    background: var(--primary-white-color);
}
.form{
    min-width: 448px;
    margin: 20px;
}
.form-field{
position: relative;
margin-bottom: 20px;
}

.form-label{
    position: absolute;
    top: 50%;
    left: 0;
    /* background-color: #2196F3; */
    transform: translateY(-250%);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input{
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid var(--logo-text-color);
}
.person-icon {
    position: absolute;
    top: 11px;
    left: 11px;
    display: inline-block;
    width: 18px;
    height: 18px;
    /* background-color: green; */
}
.phone-icon {
    position: absolute;
    top: 11px;
    left: 11px;
    display: inline-block;
    width: 18px;
    height: 18px;
    /* background-color: green; */
}

.mail-icon{
    position: absolute;
    top: 11px;
    left: 11px;
    display: inline-block;
    width: 18px;
    height: 18px;
    /* background-color: green; */
}

.form-input:focus ~ .mail-icon{
    border-color: blue;
}
.callback{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.close{
    position: fixed;
    top: 8 px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    color: var(--primary-text-color);
}
.close-button{
    fill: var(--primary-white-color);
    color: var(--primary-text-color);
    width: 30px;
    height: 30px;
}

.close-icon{
    width: 30px;
    stroke: var(--primary-text-color);
    cursor: pointer;
}


/* Заказать услугу */
.button {
    display: flex;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    margin: 0 auto;
}

/* order buttons */

/* .button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
} */

/* direction and team */

.works-list {
    display: flex;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;

}

.works-list .work:not(:last-child) {
    margin-right: 30px;
}

.work-title {
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    margin-top: 0;
}

.work-thumb{
    position:relative;
}

.work-sample{
    display: block;
}

.work-item{
display: flex;
justify-content: center;
position: absolute;
bottom: 0;
left: 0;
width: 370px;
background: rgba(47, 48, 58, 0.8);
color: var(--primary-white-color);
}


.work-item-title{
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;
margin: 0;
}



/* our team */

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-title {
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    margin-top: 0;
}

.team-members {
    background-color: var(--team-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;

}

.team-member {
    width: calc(100% -3*30/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.person {
    display: block;
    width: 270px;
    height: 260px;
}

.team-list .team-member:not(:last-child) {
    margin-right: 30px;
}

.specialist {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
}

.specialist-links {
    display: flex;
    margin-left: 32px;
}

.specialist-links .social-link {
    fill: var(--icon-fill);
}

.specialist-links .social-link:not(:last-child) {
    margin-right: 10px;
}

.name {
    color: var(--title-text-color);
    /* height: 19px; */
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.position {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

/* --------Clients------- */

.clients {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    margin-top: 0;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-list .clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item {
    width: 170px;
}

.button-client {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-fill);
    fill: var(--icon-fill);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-client:hover,
.button-client:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.button-icon {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
    color: var(--icon-fill);
    justify-content: center;
}

/* filters */

.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: inline-block;
    padding: 6px 22px;
    /* height: 38px; */
    font-family: inherit;
    color: var(--title-text-color);
    background-color: var(--button-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.filter-title {
    display: none;
}

.filters-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.filter-type {
    font-size: 16px;
    line-height: 1.9;
    margin-top: 0;
    margin-bottom: 0;
}

.samples-list {
    display: flex;
    flex-wrap: wrap;
}

.samples {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
    max-width: 370px;
    background: var(--primary-white-color);
}

.samples:nth-of-type(3n) {
    margin-right: 0;
}

.samples:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.sample {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    margin-top: 0;
}

.sample-thumb{
    position: relative;
    width: 370px;
    height:294px;
    overflow: hidden;
    margin-left: auto;
    margin-left: auto;
    cursor: pointer;  
}

.sample-thumb:hover .sample-overlay{
    transform: translateX(0);
    opacity: 0.8;
}

.sample-overlay{
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 1);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.sample-overlay > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin: 63px 24px;
    color: var(--primary-white-color);
}

.samples:hover,
.samples:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.samples img {
    display: block;
}

.sample-description {
    display: block;
    padding: 20px 24px 20px 24px;
    border: 1px solid var(--secondary-border-color);
}

.project {
    width: 370px;
    height: 294px;
}


/* our features */

.our-features {
    margin: 0;
    display: none;
}

.features-list {
    display: flex;
    width: 1200px;
}

.feature-titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.features {
    padding-top: 94px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.feature::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    background-color: var(--button-color);
    border-radius: 4px;
}

.icon-antenna::before {
    background-image: url(../images/icons/SVG-light/antenna-icon-copy.svg);
}

.icon-clock::before {
    background-image: url(../images/icons/SVG-light/clock-icon-copy.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons/SVG-light/diagram-icon-copy.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons/SVG-light/astronaut-icon-copy.svg);
}


.features-list .feature:not(:last-child) {
    margin-right: 30px;
}

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

.feature-text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* footer */
.footer {
    display: flex;
    margin-top: 0;
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav {
    display: flex;
}

.footer-contacts {
    margin-top: 20px;
}

.footer-contact-address {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-tel,
.footer-contact-email {
    color: var(--secondary-white-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--accent-color);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

/* .footer-contact-email {
    margin-bottom: 9px;
} */

.footer-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo::after {
    content: "Studio";
    color: var(--primary-white-color);
}

.join-us {
    margin-left: 70px;
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    align-items: center;
}

.social-link {
    fill: var(--primary-white-color);
}

.join-list .social-link:not(:last-child) {
    margin-right: 10px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grey-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* outline: 2px solid tomato; */
}